[Unit]
Description=Prices-Feed service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/hmq/app/bin/prices-feed.bin
Environment="CONFIG_FILE_PATH=/home/hmq/repo/hmq-finance-price-feed/etc/price-feed.config.yaml"
Environment="DATASTORE_PROJECT_ID=humaniq-168420"
Environment="CONTRACT_PRICES_ADDRESS=0x470fd88783fc521f13c9465b0f241bc6422f7a4b"
Environment="CONTRACT_PRICES_CHAIN_ID=1337"
Environment="CONTRACT_PRICES_PRIVATE_KEY=dd9712f3ebac3f5315b134150f5d959df8daf118e95d9714d8e19c3a75b6a1c4"
Environment="CONTRACT_PRICES_URL=http://catelyn.host.respublica.one:20100"
Environment="GEO_CURRENCY_KEY=50a3e66e34325f5cbaa92a066b5261412f5590ec"
Environment="LOG_LEVEL=DEBUG"
StandardOutput=append:/home/hmq/app/var/logs/prices-feed.stdout.log
StandardError=append:/home/hmq/app/var/logs/prices-feed.stderr.log

[Install]
WantedBy=multi-user.target
