openapi: 3.0.3
info:
  title: 'Prices cache API'
  version: '1.0.0'
  description: 'Prices Cache API'
servers:
  - url: 'https://apifinance.humaniq.com/api/v1'
    description: 'development/testing environment'
components:
  schemas:
    APIError:
      type: object
      properties:
        status:
          type: string
        payload:
          type: any
    PriceRecord:
      type: object
      properties:
        source:
          type: string
          description: the source of the price data
        symbol:
          type: string
          description: Token key representation
        currency:
          type: string
          description: currency representation
        price:
          type: number
        previousPrice:
          type: number
        timeStamp:
          type: string
paths:
  /prices/list:
    get:
      tags:
        - prices_old
      parameters:
        - name: symbol
          in: query
          required: false
          description: comma-separated list of symbols needed
        - name: currency
          in: query
          required: false
          description: comma-separated list of currencies needed
        - name: history
          in: query
          required: false
          description: history type, one of day|week|month|year|custom
        - name: historyPrecision
          in: query
          required: false
          description: number of records in history list
        - name: sinceTimestamp
          in: query
          required: false
          description: Unix TimeStamp (UTC) history chart starts with, works with history=custom only
      responses:
        200:
          description: price values for symbol/currency given
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  payload:
                    type: object
                    additionalProperties:
                      type: object
                      additionalProperties:
                        $ref: '#/components/schemas/PriceRecord'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        404:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
        500:
          description: internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
